# Item icon export (GuideME OffScreenRenderer) — animated atlas sprites
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents f_244575_ # animatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture f_243714_ # frames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture f_244317_ # interpolateFrames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture f_244229_ # frameRowSize
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo f_243751_ # index
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo f_244553_ # time
